{% extends "food/base.html" %}


{% block content %}

<div class="container">
    <div class="row">
    {% for food in foods %}

      <div class="col">
          <div class="card" id="food-card-container">
                <div class="card-header">
                    <h4 class="card-title">{{ food }}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text"><span>Quantity: </span>{{ food.quantity }}</p>
                    <p class="card-text"><span>Date Added: </span>:<br>{{ food.pub_date }}</p>
                </div>
        </div>
      </div>

    {% endfor %}

      
    </div>
  </div>

  {% include 'food/pagination.html' %}


{% endblock %}



