{% load static %}

<link rel="stylesheet" type ="text/css" href="{% static 'tasks/style.css' %}">

<div class ="update-body">
    <div class="update-task-frame">
        <h1>Update Task</h1>

        <form method="POST" action="">
            {% csrf_token %}

            {{ form.title }}
            <div class="form-checkbox">
                {{ form.complete }}
            </div>
            <div class="form-update-submit">
                <input type="submit" name="Update Task">
            </div>
        </form>

    </div>

</div>