body, .update-body, .delete-body{
   font-family: Helvetica,sans-serif;
   text-align: center;
   background-color: rgb(106, 181, 182);
   }

.to-do-list{
   background-color: rgb(242, 245, 243);
   height: 1800px;
   width: 50%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
   border-radius: 10px;
   filter: drop-shadow(0 0 0.75rem #505050);
}

hr{
   color:  rgb(106, 181, 182);
   margin-top: 25px;
   border: 3px solid;
   /* border-radius: 10px; */

}

.all-task-frame{
   margin-top: 50px;
   margin-bottom: auto;
}

.update-task-frame, .delete-task-frame{
   background-color: rgb(242, 244, 249);
   height: 250px;
   width: 50%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
   padding-top: auto;
   padding-bottom: auto;
   border-radius: 10px;
   filter: drop-shadow(0 0 0.75rem #505050);

}

h1{
   padding-top: 25px;
   color:  rgb(77, 139, 140);
   font-weight: 700;
}


.single-task-frame-container{
   /* margin-bottom: 10px; */
   position: relative;
   margin-left: auto;
   margin-right: auto;
   height: 150px;
   width: 75%;
   /* padding: 10px 10px 10px 10px; */
   background-color: rgb(77, 139, 140);
   filter: drop-shadow(0 0 0.1rem #505050);
   border-radius: 5px;
   color: white;
   margin-bottom: 25px;
}

.single-task-frame-items{
   position: relative;
   top: 50%;
   transform: translateY(-50%);

}


.form-checkbox{
   padding-left: 50px;
   padding-top: auto;
   padding-bottom: auto;
   float: left;
}

.form-update-submit{
   float:right;
} */


input[type=text]{
   background-color:  rgb(44, 68, 110);
   border: 2px solid;
   border-radius: 4px;
   border-color:  rgb(77, 139, 140);
   height: 2em;
   width: 75%;
   padding: 22px 10px 22px 10px;
   font-size: 16px;
   filter: drop-shadow(0 0 0.1rem #505050);

}

input[type=text]:focus {
   outline: none;
 }

 ::placeholder {
   color: rgb(159, 159, 159);
   opacity: 1; /* Firefox */
 } */

input[type=submit] {
   border: 2px solid;
   border-radius: 4px;
   border-color:  rgb(77, 139, 140);
   background-color: rgb(77, 139, 140);
   color: white;
   padding: 10px 32px;
   text-decoration: none;
   margin: 10px 2px;
   cursor: pointer;
   font-family: sans-serif;
   font-size: 16px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   filter: drop-shadow(0 0 0.05rem #505050);

   
 }

input[type=submit]:hover {
   background-color: rgb(62, 120, 121);
   border-color:  rgb(62, 120, 121);

 }

a{
   color:white;
   text-decoration: none;
   width: 50px;
   border: 2px  solid;
   border-radius: 4px;
   border-color: white;
   padding: 8px 10px 8px 10px;
}

a:hover{
   color:rgb(235, 234, 234);
   text-decoration: none;
   width: 50px;
   border: 2px  solid;
   border-radius: 4px;
   border-color: rgb(235, 234, 234);
   padding: 8px 10px 8px 10px;
} 

.single-task-frame-container p{
   font-size: 2em;
   color: white;
}

.delete-task-frame p{
   font-size: 2em;
   color: rgb(62, 120, 121);
}

#completed-task{
   text-decoration: line-through;
}

.form-checkbox {
   position: relative;
   top: 0;
   left: 0;
   height: 25px;
   width: 25px;
   background-color: #eee;
 }
